- @proposals.each_with_index do |p, i|
  .proposal.row
    .col-md-2
      = link_to p.full_link, target: '_blank' do
        = image_tag proposal_photo_preview_url(p)
    .col-md-10
      = link_to p.full_link, target: '_blank' do
        %h4= p.title
  - if i == @proposals.count - 1
    %hr{ style: "border-width: 4px"}
  -else
    %hr

